@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

body {
  margin: 30px;
  font-family: 'Pokemon Solid', sans-serif;
  background-color: rgb(63,82,162);
  color: rgb(242,199,53);
}

h1 {
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokDiv {
  border: 1px solid black;
  border-radius: 10px;
}