/* Modificar o tipo de fonte do h1 para sans-serif */
h1 {
    font-family: sans-serif;
}

/* Deixar o parágrafo com fonte-weight 600 */
p {
    font-weight: 600;
}

/* Modificar o font-size do body para 16px e explorar as propriedades font-style, line-height, text-align e text decoration */
body {
    font-size: 16px;
    font-style: italic;
    line-height: 80px;
    text-align: left;
    text-decoration: underline;
}
/* Colocar o tamanho do parágrafo 3 vezes maior que o padrão do body */
p {
    font-size: 3em;
}

/* Trocar a cor do fundo de cada item para a cor correspondente ao texto */
#l1 {
    background-color: yellow;
}

#l2 {
    background-color: red;
}

#l3 {
    background-color: brown;
}