body {
  margin: 30px auto;
  background-color:rgb(177, 178, 185);
  color: black;
}

header {
  background-color: rgb(219, 209, 209);
  border-radius: 4px;
}

form {
  background-color: rgb(219, 209, 209);
  border-radius: 4px;
  padding: 10px;
}